[Unit]
Description=Yahallo Daemon

[Service]
Type=dbus
BusName=com.iamkroot.yahallo
ExecStart=/usr/sbin/yahallod
WorkingDirectory=/etc/yahallo

[Install]
WantedBy=multi-user.target
Alias=dbus-com.iamkroot.yahallo.service
